@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    background: #EFFAFA;
    font-size: 15px;
    font-family: Spartan, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#header {
    width: 100%;
    height: 19vh;
    background-color: #5DA5A4;
}

#backgroundImage {
    background-image: url("../images/bg-header-desktop.svg");
    opacity: 0.8;
    width: 100%;
    height: 19vh;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: red solid 3px;
}

.job-container {
    display:flex; 

    
    width: 80%;
    padding:15px; 
    box-sizing: border-box;    
    background-color:white;
    border: solid green 3px;
}
.data-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly;  
    width: 30%;  /* original 20%*/
    
}
.image-container{
    width: 10%; /*original 10%*/
    border: 3px solid rgb(5, 163, 255); 
}

.filter-container{
    border: 3px rgb(224, 12, 178) solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    /* width: 70%; comentado */
}

.filter-container-div{
    color:#5BA4A4  ;
    /* background-color: #EFFAFA ;  comentado*/
    padding:10px;
    font-weight: bold;
    width: 50%; /*original max-width*/
    /*afegit*/
    font-size: 0.7em;
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.company-name{
    font-weight: bold;
    font-size:0.8em; /* original 0.8*/
    color: #5BA4A4;
}
.job-request{
    font-weight: bold;
}
.job-details{
    font-weight: lighter;
    font-size: 0.4em; /* original 0.9*/
    color: lightgrey;
}

#filter-menu {
    display: flex;
    background-color: white;
    padding: 10px;
    gap: 5px;
    border-radius: 6px;
}

@media (max-width: 375px){
    
}